<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!--  UI DESIGN  -->
  <title> GOPESA : MANTENIMIENTO </title> <!--  TITULO  -->
  <meta name="description" content="GOPESA Inmobiliaria"><!--  DESCRIPCION  -->
  <meta name="keywords" content=" Inmobiliaria"><!--  PALABRAS CLAVE -->


<!--  CSS  -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
<link rel="stylesheet" href= "{% static 'css/styles-merged.css' %}">
<link rel="stylesheet" href= "{% static 'css/style.min.css' %}">
<link rel="stylesheet" href= "{% static 'css/custom.css' %}">

  <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <img src="{%static 'img/screenshot-4.png'%}" class="img-responsive" alt="Pagina en Mantenimiento">
</body>
</html>
